@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&display=swap");

.font-red-hat {
  font-family: "Red Hat Display", sans-serif;
}
@font-face {
  font-family: "Monument Extended";
  src: url("../public/fonts/MonumentExtended/MonumentExtended-Ultrabold.otf");
  src: url("../public/fonts/MonumentExtended/MonumentExtended-Regular.otf");
}
@font-face {
  font-family: "Organetto";
  src: url("../public/fonts/MonumentExtended/Organetto.otf");
}
.font-monument {
  font-family: "Monument Extended";
}
.font-organetto {
  font-family: "Organetto";
}
.font-barlow {
  font-family: "Barlow", sans-serif;
}
.box {
  background: linear-gradient(
    122.95deg,
    rgba(22, 22, 26, 0) -4.06%,
    rgba(255, 255, 255, 0.0962) 53.16%,
    rgba(22, 22, 26, 0) 133.85%
  );
}
.roadmapBox {
  background: linear-gradient(
    172.73deg,
    #acffb9 -145.79%,
    #11ff37 -18.79%,
    #000000 77.91%
  );
}
.footer {
  /* background-image: linear-gradient(91.73deg, #000000 -37.2%, rgba(113, 113, 113, 0) 53.28%, #000000 148.15%);
  backdrop-filter: blur(32px); */

  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(34.5px);
}

.main-bg {
  background-position: center;
  background-size: cover;
}

.hero-social-box {
  top: -40px;
  display: flex;
  flex-direction: column;
}

.hero-social-box a {
  color: #fff;
  background: linear-gradient(320.66deg, #2f353a 14.75%, #1c1f22 84.81%);
  filter: blur(0.5px);
  border-radius: 100px;
  padding: 10px;
  font-size: 22px;
  margin-top: 20px;
}
.hero-social-box a:hover {
  color: #000000;
  background: linear-gradient(320.66deg, #11ff37 14.75%, #aeffbb 84.81%);
  filter: blur(0.5px);
}

.sub-info {
  display: grid;
  grid-template-columns: repeat(3, auto);
  text-align: center;
}
.border-right {
  border-right: 1px solid #6d6c6c;
}

.side1 {
  position: absolute;
  left: 0;
  z-index: 1;
  top: -75px;
}
.side2 {
  position: absolute;
  right: 0;
  z-index: 1;
  top: -73px;
}

#about_video {
  margin: auto;
  padding-bottom: 20px;
}

#about_video2 {
  margin: auto;
  padding-bottom: 20px;
}

.side-green {
  position: absolute;
  width: 348px;
  height: 349px;
  right: -0px;
  top: -115px;

  background: rgba(17, 255, 55, 0.14);
  filter: blur(190.5px);
}

.overlays{
  background-color: #0000008f;
  width: 100%;
  height: 110%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

@media (max-width:768px) {
  .side1{
    display: none;
  }
  .side2{
    display: none;
  }

  #about_video{
    object-fit: cover;
    height: 80vh;
  }

  #about_video2{
    object-fit: cover;
    height: auto;
  }

  .hero-social-box {
   top: 1px;
    flex-direction: row;
  }
}