@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&display=swap");

body{
  width: 100vw;
  overflow-x: hidden;
}
.font-red-hat {
  font-family: "Red Hat Display", sans-serif;
}
@font-face {
  font-family: "Monument Extended";
  src: url("../public/fonts/MonumentExtended/MonumentExtended-Ultrabold.otf");
  src: url("../public/fonts/MonumentExtended/MonumentExtended-Regular.otf");
}
@font-face {
  font-family: "Organetto";
  src: url("../public/fonts/MonumentExtended/Organetto.otf");
}
.font-monument {
  font-family: "Monument Extended";
}
.font-organetto {
  font-family: "Organetto";
}
.font-barlow {
  font-family: "Barlow", sans-serif;
}
.box {
  background: linear-gradient(
    122.95deg,
    rgba(22, 22, 26, 0) -4.06%,
    rgba(255, 255, 255, 0.0962) 53.16%,
    rgba(22, 22, 26, 0) 133.85%
  );
}
.roadmapBox {
  background: linear-gradient(
    172.73deg,
    #acffb9 -145.79%,
    #11ff37 -18.79%,
    #000000 77.91%
  );
}
.footer {
  /* background-image: linear-gradient(91.73deg, #000000 -37.2%, rgba(113, 113, 113, 0) 53.28%, #000000 148.15%);
  backdrop-filter: blur(32px); */

  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(34.5px);
}

.main-bg {
  background-position: center;
  background-size: cover;
}

.hero-social-box {
  top: -40px;
  display: flex;
  flex-direction: column;
}

.hero-social-box a {
  color: #fff;
  background: linear-gradient(320.66deg, #2f353a 14.75%, #1c1f22 84.81%);
  filter: blur(0.5px);
  border-radius: 100px;
  padding: 10px;
  font-size: 22px;
  margin-top: 20px;
}
.hero-social-box-a {
  color: #fff;
  background: linear-gradient(320.66deg, #2f353a 14.75%, #1c1f22 84.81%);
  filter: blur(0.5px);
  border-radius: 100px;
  padding: 10px;
  font-size: 22px;
  margin-top: 20px;
}
.hero-social-box a:hover {
  color: #000000;
  background: linear-gradient(320.66deg, #11ff37 14.75%, #aeffbb 84.81%);
  filter: blur(0.5px);
}
.hero-social-box-h {
  color: #000000;
  background: linear-gradient(320.66deg, #11ff37 14.75%, #aeffbb 84.81%);
  filter: blur(0.5px);
}

.sub-info {
  display: grid;
  grid-template-columns: repeat(3, auto);
  text-align: center;
}
.border-right {
  border-right: 1px solid #6d6c6c;
}

.side1 {
  position: absolute;
  left: 0;
  z-index: 1;
  top: -75px;
}
.side2 {
  position: absolute;
  right: 0;
  z-index: 1;
  top: -73px;
}

#about_video {
  margin: auto;
  padding-bottom: 20px;
}

#about_video2 {
  margin: auto;
  padding-bottom: 20px;
}

.side-green {
  position: absolute;
  width: 348px;
  height: 349px;
  right: -0px;
  top: -115px;

  background: rgba(17, 255, 55, 0.14);
  filter: blur(190.5px);
}

.overlays {
  background-color: #0000008f;
  width: 100%;
  height: 110%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.input-sub {
  background: rgba(0, 0, 0, 0.15) !important;
  border-radius: 49px;
  border: 1px solid transparent;
}

.wishlist {
  background: linear-gradient(
    233.14deg,
    #11ff37 -41.32%,
    #000000 -13.59%,
    #11ff37 122.78%,
    #000000 180.56%
  );
  border-radius: 40px;
}
.roadmap-content{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 20px;
}
.roadmap-content p{
  margin-top: 1rem;
  padding-left: 19px;
  padding-right: 5px;
}
@media (max-width: 768px) {
  .wishlist {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }
  .input-sub {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
  }
  .try-btn {
    font-size: 14px !important;
    text-align: center;
    margin-top: 20px;
  }
  .side1 {
    display: none;
  }
  .side2 {
    display: none;
  }

  #about_video {
    object-fit: cover;
    height: 80vh;
  }

  #about_video2 {
    object-fit: cover;
    height: auto;
  }

  .hero-social-box {
    top: 1px;
    flex-direction: row;
  }
}





.animate-left {
  -webkit-animation: animation-one 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s
    both;
  overflow-x: hidden;
  animation: animation-one 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s both;
}
@-webkit-keyframes animation-one {
  0% {
    -webkit-transform: translateZ(0) translateX(250px) translateY(-150px);
    transform: translateZ(0) translateX(250px) translateY(-150px);

    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(160px) translateX(0px) translateY(0px);
    transform: translateZ(160px) translateX(0px) translateY(0px);
    opacity: 100%;
  }
}
@keyframes animation-one {
  0% {
    -webkit-transform: translateZ(0) translateX(250px) translateY(-150px);
    transform: translateZ(0) translateX(250px) translateY(-150px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(160px) translateX(0px) translateY(0px);
    transform: translateZ(160px) translateX(0px) translateY(0px);
    opacity: 100%;
  }
}
.animate-left-delay {
  -webkit-animation: animation-one-delay 1.1s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s both;
  overflow-x: hidden;
  animation: animation-one-delay 1.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s
    both;
}
@-webkit-keyframes animation-one-delay {
  0% {
    -webkit-transform: translateZ(0) translateX(220px) translateY(-130px);
    transform: translateZ(0) translateX(220px) translateY(-130px);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateZ(155px) translateX(10px) translateY(0px);
    transform: translateZ(155px) translateX(10px) translateY(0px);
  }
  100% {
    -webkit-transform: translateZ(160px) translateX(0px) translateY(0px);
    transform: translateZ(160px) translateX(0px) translateY(0px);
    opacity: 100%;
  }
}
@keyframes animation-one-delay {
  0% {
    -webkit-transform: translateZ(0) translateX(220px) translateY(-130px);
    transform: translateZ(0) translateX(220px) translateY(-130px);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateZ(155px) translateX(10px) translateY(0px);
    transform: translateZ(155px) translateX(10px) translateY(0px);
    opacity: 100%;
  }
  100% {
    -webkit-transform: translateZ(160px) translateX(0px) translateY(0px);
    transform: translateZ(160px) translateX(0px) translateY(0px);
    opacity: 100%;
  }
}
.animate-left-delay-text {
  -webkit-animation: animation-one-delay-text 0.8s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s both;
  overflow-x: hidden;
  animation: animation-one-delay-text 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    0.6s both;
}
@-webkit-keyframes animation-one-delay-text {
  0% {
    -webkit-transform: translateZ(0) translateX(200px) translateY(0);
    transform: translateZ(0) translateX(200px) translateY(0);

    opacity: 0;
  }
  80% {
    -webkit-transform: translateZ(155px) translateX(10px) translateY(0px);
    transform: translateZ(155px) translateX(10px) translateY(0px);
    opacity: 100%;
  }
  100% {
    -webkit-transform: translateZ(160px) translateX(0px) translateY(0px);
    transform: translateZ(160px) translateX(0px) translateY(0px);
    opacity: 100%;
  }
}
@keyframes animation-one-delay-text {
  0% {
    -webkit-transform: translateZ(0) translateX(200px) translateY(0);
    transform: translateZ(0) translateX(200px) translateY(0);

    opacity: 0;
  }
  80% {
    -webkit-transform: translateZ(155px) translateX(10px) translateY(0px);
    transform: translateZ(155px) translateX(10px) translateY(0px);
    opacity: 100%;
  }
  100% {
    -webkit-transform: translateZ(160px) translateX(0px) translateY(0px);
    transform: translateZ(160px) translateX(0px) translateY(0px);
    opacity: 100%;
  }
}

.animate-top-left {
  -webkit-animation: top-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
  overflow-x: hidden;
  animation: top-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s both;
}
@-webkit-keyframes top-left {
  0% {
    -webkit-transform: translateZ(0) translateX(100px) translateY(60px);
    transform: translateZ(0) translateX(100px) translateY(60px);

    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(160px) translateX(0px) translateY(0px);
    transform: translateZ(160px) translateX(0px) translateY(0px);
    opacity: 100%;
  }
}
@keyframes top-left {
  0% {
    -webkit-transform: translateZ(0) translateX(100px) translateY(60px);
    transform: translateZ(0) translateX(100px) translateY(60px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(160px) translateX(0px) translateY(0px);
    transform: translateZ(160px) translateX(0px) translateY(0px);
    opacity: 100%;
  }
}

.animate-top-bottom {
  -webkit-animation: top-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s both;
  overflow-x: hidden;
  animation: top-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s both;
}
@-webkit-keyframes top-right {
  0% {
    -webkit-transform: translateY(-170px);
    transform: translateY(-170px);

    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 100%;
  }
}
@keyframes top-right {
  0% {
    -webkit-transform: translateY(-170px);
    transform: translateY(-170px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 100%;
  }
}

.first-child {
  -webkit-animation: first 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s
    infinite both;
  animation: first 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s infinite both;
}
@-webkit-keyframes first {
  0% {
    @apply hero-social-box-a;
  }
  50% {
    @apply hero-social-box-h;
  }
  51% {
    @apply hero-social-box-a;
  }
  80% {
    @apply hero-social-box-h;
  }
  81% {
    @apply hero-social-box-a;
  }
  82% {
    @apply hero-social-box-h;
  }
  83% {
    @apply hero-social-box-a;
  }
  100% {
    @apply hero-social-box-h;
  }
}
@keyframes first {
  0% {
    @apply hero-social-box-a;
  }
  50% {
    @apply hero-social-box-h;
  }
  51% {
    @apply hero-social-box-a;
  }
  80% {
    @apply hero-social-box-h;
  }
  81% {
    @apply hero-social-box-a;
  }
  82% {
    @apply hero-social-box-h;
  }
  83% {
    @apply hero-social-box-a;
  }
  100% {
    @apply hero-social-box-h;
  }
}
.third-child {
  -webkit-animation: third 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s
    infinite both;
  animation: third 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s infinite both;
}
@-webkit-keyframes third {
  0% {
    @apply hero-social-box-a;
  }
  50% {
    @apply hero-social-box-h;
  }
  51% {
    @apply hero-social-box-a;
  }
  80% {
    @apply hero-social-box-h;
  }
  81% {
    @apply hero-social-box-a;
  }
  82% {
    @apply hero-social-box-h;
  }
  83% {
    @apply hero-social-box-a;
  }
  100% {
    @apply hero-social-box-a;
  }
}
@keyframes third {
  0% {
    @apply hero-social-box-a;
  }
  50% {
    @apply hero-social-box-h;
  }
  51% {
    @apply hero-social-box-a;
  }
  80% {
    @apply hero-social-box-h;
  }
  81% {
    @apply hero-social-box-a;
  }
  82% {
    @apply hero-social-box-h;
  }
  83% {
    @apply hero-social-box-a;
  }
  100% {
    @apply hero-social-box-a;
  }
}
.fourth-child {
  -webkit-animation: fourth 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s
    infinite both;
  animation: fourth 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s infinite both;
}
@-webkit-keyframes fourth {
  0% {
    @apply hero-social-box-a;
  }
  50% {
    @apply hero-social-box-h;
  }
  51% {
    @apply hero-social-box-a;
  }
  80% {
    @apply hero-social-box-h;
  }
  81% {
    @apply hero-social-box-a;
  }
  82% {
    @apply hero-social-box-h;
  }
  83% {
    @apply hero-social-box-a;
  }
  100% {
    @apply hero-social-box-a;
  }
}
@keyframes fourth {
  0% {
    @apply hero-social-box-a;
  }
  50% {
    @apply hero-social-box-h;
  }
  51% {
    @apply hero-social-box-a;
  }
  80% {
    @apply hero-social-box-h;
  }
  81% {
    @apply hero-social-box-a;
  }
  82% {
    @apply hero-social-box-h;
  }
  83% {
    @apply hero-social-box-a;
  }
  100% {
    @apply hero-social-box-a;
  }
}

.second-child {
  -webkit-animation: secend 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s
    infinite both;
  animation: secend 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s infinite both;
}
@-webkit-keyframes secend {
  0% {
    @apply hero-social-box-a;
  }
  20% {
    @apply hero-social-box-h;
  }
  21% {
    @apply hero-social-box-a;
  }
  22% {
    @apply hero-social-box-h;
  }
  23% {
    @apply hero-social-box-a;
  }
  24% {
    @apply hero-social-box-h;
  }
  25% {
    @apply hero-social-box-a;
  }
  65% {
    @apply hero-social-box-h;
  }
  66% {
    @apply hero-social-box-a;
  }
  67% {
    @apply hero-social-box-h;
  }
  68% {
    @apply hero-social-box-a;
  }
  70% {
    @apply hero-social-box-h;
  }
  71% {
    @apply hero-social-box-a;
  }
  72% {
    @apply hero-social-box-h;
  }
  73% {
    @apply hero-social-box-a;
  }
  100% {
    @apply hero-social-box-a;
  }
}
@keyframes secend {
  0% {
    @apply hero-social-box-a;
  }
  20% {
    @apply hero-social-box-h;
  }
  21% {
    @apply hero-social-box-a;
  }
  70% {
    @apply hero-social-box-h;
  }
  71% {
    @apply hero-social-box-a;
  }
  72% {
    @apply hero-social-box-h;
  }
  73% {
    @apply hero-social-box-a;
  }
  100% {
    @apply hero-social-box-a;
  }
}

.last-child {
  -webkit-animation: last 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s
    infinite both;
  animation: last 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s infinite both;
}
@-webkit-keyframes last {
  0% {
    @apply hero-social-box-a;
  }
  10% {
    @apply hero-social-box-h;
  }
  11% {
    @apply hero-social-box-a;
  }
  18% {
    @apply hero-social-box-h;
  }
  19% {
    @apply hero-social-box-a;
  }
  30% {
    @apply hero-social-box-h;
  }
  32% {
    @apply hero-social-box-a;
  }
  40% {
    @apply hero-social-box-h;
  }
  41% {
    @apply hero-social-box-a;
  }
  90% {
    @apply hero-social-box-h;
  }
  91% {
    @apply hero-social-box-a;
  }
  96% {
    @apply hero-social-box-h;
  }
  97% {
    @apply hero-social-box-a;
  }
  100% {
    @apply hero-social-box-a;
  }
}
@keyframes last {
  0% {
    @apply hero-social-box-a;
  }
  10% {
    @apply hero-social-box-h;
  }
  11% {
    @apply hero-social-box-a;
  }
  18% {
    @apply hero-social-box-h;
  }
  19% {
    @apply hero-social-box-a;
  }
  30% {
    @apply hero-social-box-h;
  }
  32% {
    @apply hero-social-box-a;
  }
  40% {
    @apply hero-social-box-h;
  }
  41% {
    @apply hero-social-box-a;
  }
  90% {
    @apply hero-social-box-h;
  }
  91% {
    @apply hero-social-box-a;
  }
  96% {
    @apply hero-social-box-h;
  }
  97% {
    @apply hero-social-box-a;
  }
  100% {
    @apply hero-social-box-a;
  }
}

.scale-up-center {
  -webkit-animation: scale-up-center 2.5s cubic-bezier(0.39, 0.575, 0.565, 1) 
    forwards;
  animation: scale-up-center 2.5s cubic-bezier(0.39, 0.575, 0.565, 1) 
    forwards;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  80% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  80% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.text-flicker-in-glow {
    -webkit-animation: text-flicker-in-glow 0.5s linear infinite both;
            animation: text-flicker-in-glow 0.5s linear infinite both;
}



@keyframes text-flicker-in-glow {
  0%{
    color: #6BFF83;
  }
  10%{
    color: rgba(73, 73, 73, 0.55);
  }
  30%{
    color: #6BFF83;
  }
  40%{
    color: rgba(73, 73, 73, 0.55);
  }
  60%{
    color: #6BFF83;
  }
  70%{
    color: rgba(73, 73, 73, 0.55);
  }
  100%{
    color: #6BFF83;
  }
}
.text-flicker-in-glow-p {
    -webkit-animation: text-flicker-in-glow-p 0.5s linear infinite both;
            animation: text-flicker-in-glow-p 0.5s linear infinite both;
}



@keyframes text-flicker-in-glow-p {
  0%{
    color: #000000;
  }
  10%{
    color: white;
  }
  30%{
    color: #000000;
  }
  40%{
    color: white;
  }
  60%{
    color: #000000;
  }
  70%{
    color: white;
  }
  100%{
    color: white;
  }
}


.text-flicker-in-glow-p-2 {
    -webkit-animation: text-flicker-in-glow-p 0.5s linear infinite both;
            animation: text-flicker-in-glow-p 0.5s linear infinite both;
}



@keyframes text-flicker-in-glow-p-2 {
  0%{
    color: #fff;
  }
  10%{
    color: black;
  }
  30%{
    color: #fff;
  }
  40%{
    color: black;
  }
  60%{
    color: #fff;
  }
  70%{
    color: black;
  }
  100%{
    color: white;
  }
}
.text-flicker-in-glow-2 {
    -webkit-animation: text-flicker-in-glow-2 0.5s linear infinite both;
            animation: text-flicker-in-glow-2 0.5s linear infinite both;
}



@keyframes text-flicker-in-glow-2 {
  0%{
   color: rgba(73, 73, 73, 0.55);
  }
  10%{
    color: #6BFF83;
  }
  30%{
   color: rgba(73, 73, 73, 0.55);
  }
  40%{
    color: #6BFF83;
  }
  60%{
   color: rgba(73, 73, 73, 0.55);
  }
  70%{
    color: #6BFF83;
  }
  80%{
   color: rgba(73, 73, 73, 0.55);
  }
  100%{
    color: #6BFF83;
  }
}

.slide-left {
    -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
            animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
}

 @-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(200px) scaleX(0);
            transform: translateX(200px) scaleX(0);
  }
  100% {
    -webkit-transform: translateX(0) scaleX(1);
            transform: translateX(0) scaleX(1);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(200px) scaleX(0);
            transform: translateX(200px) scaleX(0);
  }
  100% {
    -webkit-transform: translateX(0) scaleX(1);
            transform: translateX(0) scaleX(1);
  }
}

.slide-right {
    -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
            animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
}

 @-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-200px) scaleX(0);
            transform: translateX(-200px) scaleX(0);
  }
  100% {
    -webkit-transform: translateX(0) scaleX(1);
            transform: translateX(0) scaleX(1);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-200px) scaleX(0);
            transform: translateX(-200px) scaleX(0);
  }
  100% {
    -webkit-transform: translateX(0) scaleX(1);
            transform: translateX(0) scaleX(1);
  }
}



.slide-left-footer {
    -webkit-animation: slide-left-footer 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940)  both;
            animation: slide-left-footer 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940)  both;
}


.slide-left-footer-1 {
    -webkit-animation: slide-left-footer 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940)  both;
            animation: slide-left-footer 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940)  both;
}

.slide-left-footer-2 {
    -webkit-animation: slide-left-footer 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940)  both;
            animation: slide-left-footer 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940)  both;
}


@keyframes slide-left-footer {
  0% {
    opacity: 0;
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}