@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&display=swap');

.font-red-hat {
  font-family: "Red Hat Display", sans-serif;
}
@font-face {
  font-family: "Monument Extended";
  src: url("../public/fonts/MonumentExtended/MonumentExtended-Ultrabold.otf");
  src: url("../public/fonts/MonumentExtended/MonumentExtended-Regular.otf");
}
@font-face {
  font-family: "Organetto";
  src: url("../public/fonts/MonumentExtended/Organetto.otf");
}
.font-monument {
  font-family: "Monument Extended";
}
.font-organetto {
  font-family: "Organetto";
}
.font-barlow{
  font-family: 'Barlow', sans-serif;
}
.box {
  background: linear-gradient(
    122.95deg,
    rgba(22, 22, 26, 0) -4.06%,
    rgba(255, 255, 255, 0.0962) 53.16%,
    rgba(22, 22, 26, 0) 133.85%
  );
}
.roadmapBox {
  background: linear-gradient(
    172.73deg,
    #acffb9 -145.79%,
    #11ff37 -18.79%,
    #000000 77.91%
  );
}
.footer {
  /* background-image: linear-gradient(91.73deg, #000000 -37.2%, rgba(113, 113, 113, 0) 53.28%, #000000 148.15%);
  backdrop-filter: blur(32px); */
}

.main-bg{
  background-position: center;
  background-size: cover;
}

.hero-social-box{
  top: -40px;
    display: flex;
    flex-direction: column;
 
}

.hero-social-box a
{
  color: #fff;
  background: linear-gradient(320.66deg, #2F353A 14.75%, #1C1F22 84.81%);
  filter: blur(0.5px);
  border-radius: 100px;
padding: 10px;
  font-size: 22px;
margin-top: 20px;
}
.hero-social-box a:hover
{
  color: #000000;
  background: linear-gradient(320.66deg, #11FF37 14.75%, #AEFFBB 84.81%);
  filter: blur(0.5px);
 


}


.sub-info{
  display: grid;
  grid-template-columns: repeat(3,auto);
  text-align: center;
}
.border-right{
  border-right: 1px solid #6d6c6c;
}

.side1{
  position: absolute;
  left: 0;
  z-index: 1;
  top: -200px;
}
.side2{
  position: absolute;
  right: 0;
  z-index: 1;
  top: -196px;
}

#about_video{
  margin: auto;
  padding-bottom: 20px;
}